html, body, * {
	margin: 0;
	font-family: Roboto, sans-serif;
}
.gyps-bar {
	background-image: url(/img/rk7KCwOol_poster.jpg);
	background-position: -64px -534px;
	background-blend-mode: multiply;
}
.gig-duration {
}
.gig-duration, .gig-relative {
	margin-left: 1em;
	font-weight: 300;
}
.gig-duration::before {
	content: '(' !important;
}
.gig-duration::after {
	content: ')' !important;
}
.gig-fans span {
	display: inline-block;
	width: 8em;
	max-width: 8em;
	font-size: smaller;
	background-color: rgba(0,0,0,0.12);
	/*border: 1px solid white;*/
	border-radius: 0.75em;
	padding: 0.25em 0.5em;
	margin: 4px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.gig-acts a {
	color: inherit !important;
	white-space: nowrap !important;
}
a.gig-venue {
	color: inherit;
	letter-spacing: 2px !important;
	white-space: nowrap !important;
	text-transform: uppercase;
	text-decoration: none !important;
	transition: all 0.5s ease;
	font-size: smaller;
	padding: 0 4px;
	border-bottom: 2px solid white;
}
a.gig-venue:hover {
	border-bottom: 2px solid grey;
}

table.gig-schedule {
	margin-bottom: 2em;
	padding-right: 2em;
	border-collapse: separate;
	border-spacing: 4px 0;
}
table.gig-schedule tbody tr td:first-child {
	border: none;
	width: 4em;
	text-align: right;
	background-color: white;
	font-size: smaller;
	font-weight: 300;
	padding: 0.5em 1em;
}
/*table.gig-schedule tbody tr:nth-child(odd) {
	background-color: rgba(127, 221, 233, 0.14);
}*/
table.gig-schedule tbody tr td {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-right: 1px solid rgba(0, 0, 0, 0.1);
	transition: all 0.5s ease;
}
table.gig-schedule tbody tr td.j-shift:hover {
	background-color: rgba(0, 0, 0, 0.1);
}
td.j-start {
	border-top: 2px solid grey !important;
}
td.j-end {
	border-bottom: 2px solid grey !important;
}
td.j-shift {
	border-right: 2px solid grey !important;
	border-left: 2px solid grey;
	width: 12em;
}
table.gig-schedule tbody tr td a {
	font-size: x-small;
	text-decoration: none;
	color: rgba(0,0,0,0.7);
	padding-left: 0.3em;
}

/*table.gig-schedule thead tr:nth-child(2) th {
	background-color: rgba(0,0,0,0.5);
}*/
table.gig-schedule thead tr th a {
	font-size: smaller;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: rgba(0,0,0,0.5);
}

.sch-Performance {
	background-color: rgba(0,160,255,0.05)
}
.sch-My-Performance {
	background-color: rgba(0,160,255,0.5)
}

.sch-Workshop {
	background-color: rgba(255,127,0,0.05)
}
.sch-My-Workshop {
	background-color: rgba(255,127,0,0.5)
}

.sch-Volunteer {
	background-color: rgba(127,255,0,0.05)
}

.qr-check {
	margin: 2em;
	min-height: 5em;
	vertical-align: middle;
	color: white;
	font-size: 24px;
	letter-spacing: 4px;
	text-transform: uppercase;
}
.qr-check .qr-valid {
	padding: 1em;
	background-color: rgb(104, 159, 56);
}
.qr-check .qr-fail {
	padding: 1em;
	background-color: red;
}