html, body, * {
	margin: 0;
	font-family: Roboto, sans-serif;
}
.gyps-bar {
	background-image: url(/img/rk7KCwOol_poster.jpg);
	background-position: -64px -534px;
	background-blend-mode: multiply;
}
.gig-duration {
	display: block !important;
	float: right !important;
}
.gig-duration, .gig-relative {
	margin-left: 1em;
	font-weight: 300;
}
.gig-duration::before {
	content: '(' !important;
}
.gig-duration::after {
	content: ')' !important;
}